
.city-weather {
  background: rgba(30, 30, 47, 0.7);
  border-radius: 18px;
  padding: 24px 32px;
  margin-bottom: 32px; /* un poco más de aire */
  color: #fff;
  width: 430px;
  max-width: 600px;  /* antes 520px */
  margin-left: auto;
  margin-right: auto;
}

.cw-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.cw-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

body.theme-dark .cw-card {
  background: rgba(44, 44, 62, 0.9);
  color: #fff;
}

/* Light theme */
body.theme-light .cw-card {
  background: rgba(235, 235, 235, 0.9);
  color: #333;
}

.cw-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(44, 44, 62, 0.9);
  border-radius: 14px;
  padding: 16px 20px;
  gap: 12px;
  min-height: 70px;
  width: 400px;
}

.cw-city-country {
  display: flex;
  flex-direction: column;
  min-width: 150px;   /* más ancho */
  word-break: break-word; /* permite cortar en varias líneas si es necesario */
}

.cw-city {
  font-size: 17px;
  font-weight: 600;
}

.cw-country {
  font-size: 14px;
  color: #b0b0b0;
}

.cw-icon img {
  width: 40px;
  height: 40px;
}

.cw-temp {
  font-size: 18px;
  font-weight: 600;
  min-width: 40px;
  text-align: right;
}

.cw-desc {
  font-size: 15px;
  color: #b0b0b0;
  text-transform: capitalize;
  min-width: 90px;
  text-align: right;
}
